<a href="{{ .Destination | safeURL }}"
   {{- with .Title }} title="{{ . }}"{{- end -}}
   {{- if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener noreferrer"{{- else -}}
     {{- $path := .Destination | strings.TrimPrefix "/" | strings.TrimSuffix "/" -}}
     {{- $page := $.Page.Site.GetPage $path -}}
     {{- if and $page $page.Params.summary -}}
       class="hover-tooltip-target" data-hover-summary="{{ $page.Params.summary }}"
     {{- end -}}
   {{- end -}}
>
  {{ .Text | safeHTML }}
</a>