{{- /* JSON-LD: Person+WebSite on home, Article on blog post, BreadcrumbList on sections. */ -}}

{{- $personId := printf "%s#person" site.BaseURL -}}
{{- $person := dict
    "@type" "Person"
    "@id"   $personId
    "name"  (site.Params.orgName | default site.Title)
    "url"   site.BaseURL
    "description" site.Params.description -}}
{{- with site.Params.authorBio -}}{{- $person = merge $person (dict "description" .) -}}{{- end -}}

{{- $sameAs := slice -}}
{{- with site.Params.social -}}
  {{- range $k, $v := . -}}{{- with $v -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}{{- end -}}
{{- end -}}
{{- if $sameAs -}}{{- $person = merge $person (dict "sameAs" $sameAs) -}}{{- end -}}

{{- if .IsHome -}}
  {{- $website := dict
      "@type" "WebSite"
      "@id"   (printf "%s#website" site.BaseURL)
      "url"   site.BaseURL
      "name"  site.Title
      "inLanguage" "de-AT"
      "publisher" (dict "@id" $personId) -}}
  {{- $schema := dict "@context" "https://schema.org" "@graph" (slice $person $website) -}}
  <script type="application/ld+json">
    {{ $schema | jsonify | safeJS }}
  </script>

{{- else if and (eq .Section "blog") (not .IsSection) -}}
  {{- $article := dict
      "@context" "https://schema.org"
      "@type"    "Article"
      "headline" .Title
      "description" (.Description | default .Summary)
      "url"      .Permalink
      "inLanguage" "de-AT"
      "author"   (dict "@id" $personId)
      "publisher" (dict "@id" $personId) -}}
  {{- with .Date }}{{- $article = merge $article (dict "datePublished" (.Format "2006-01-02")) -}}{{- end -}}
  {{- with .Lastmod }}{{- $article = merge $article (dict "dateModified" (.Format "2006-01-02")) -}}{{- end -}}
  {{- with .Params.image }}{{- $article = merge $article (dict "image" (dict "@type" "ImageObject" "url" (. | absURL))) -}}{{- end -}}
  {{- with .Params.categories }}{{- $article = merge $article (dict "articleSection" (index . 0)) -}}{{- end -}}
  {{- with .Params.tags }}{{- $article = merge $article (dict "keywords" (delimit . ", ")) -}}{{- end -}}
  <script type="application/ld+json">
    {{ $article | jsonify | safeJS }}
  </script>
{{- end -}}
